@import url("https://fonts.googleapis.com/css?family=Courgette");

html, body {
    margin: 0px;
    font: {
        family: 'Courgette', cursive;
        size: 16px;
        weight: 400;
    };
    line-height: 1.5;
}

*[hidden] {
    display: none !important;
}
