$success: #28a745;
$success-hover: #218838;

$primary: #007bff;
$primary-hover: #0069d9;

$info: #17a2b8;
$info-hover: #138496;

$danger: #dc3545;
$danger-hover: #c82333;

$warning: #ffc107;
$warning-hover: #e0a800;