.btn{
    box-sizing: border-box;
    padding: 2.5px 10px;
    font: inherit;
    color: white;
    cursor: pointer;
    border: {
        width: 2px;
        radius: 5px;
        style: solid;
    }

    &:disabled{
        cursor: not-allowed;
        opacity: 0.6;
    }

    &:hover{
        box-shadow: 0 0 0 1px rgba($color: black, $alpha: 0.3);        
    }

    &--success{
        border-color: $success/2;
        background-color: $success;
        &:hover{
            background-color: $success-hover;
        }
    }
    &--primary{
        border-color: $primary/2;
        background-color: $primary;
        &:hover{
            background-color: $primary-hover;        
        }
    }
    &--info{
        border-color: $info/2;
        border-radius: 50%;
        background-color: $info;
        &:hover{
            background-color: $info-hover;        
        }
    }
    &--danger{
        border-color: $danger/2;
        background-color: $danger;
        &:hover{
            background-color: $danger-hover;        
        }
    }   
    &--warning{
        border-color: $warning/2;
        background-color: $warning;
        &:hover{
            background-color: $warning-hover;        
        }
    }    
}