.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__main {
        display: flex;  
        flex-direction: column;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 10px 15px 10px;
    }

    &--theame {
        background-color: #999999;
        color: white;    
    }
    &--blur{
        filter: blur(5px);
    }
}
