.footer {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;

    &--theame {
        color: white;
        background-color: green;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}
