.main {
    &__canvas {
        display: flex;
        margin: 2px 15px 0px;
        outline: none;
        &--theame{
            box-shadow: 0 0 100px black;
        }
    }

    &__asside{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 5px;
        &--theame{
            border: {
                width: 2px;
                style: solid;
                color: rgba($color: black, $alpha: 0.1);
                radius: 5px;
            }
            background-color: rgba($color: black, $alpha: 0.5);
        }
    }

}
