.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    &__form{
        margin: 15px 0;
    }

    &__dialog{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        padding: 15px;
        &--theame{
            background-color: white;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    &--fade{
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
}