/*-----------------RESET------------------------- */
/*------------------BASE------------------------- */
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  height: 650px; }

h2 {
  text-transform: uppercase;
  margin: 0px; }

p {
  margin: 0; }

input {
  margin-bottom: 5px;
  padding: 5px;
  margin: 5px; }

hr {
  width: 100%; }

button {
  border-width: 0;
  padding: 5px; }
  button:active {
    transform: scale(1.1, 1.1); }

/*---------------LAYOUT---------------------- */
.l-head, .l-container, .l-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.l-head {
  height: 5%;
  z-index: 1; }

.l-container {
  width: 100%;
  height: 90%;
  align-items: center; }

.l-foot {
  height: 5%;
  bottom: 0;
  z-index: 1; }

.l-canvas {
  display: flex;
  flex-direction: column;
  align-items: center; }

.l-gdk {
  width: 100%;
  padding: 10px; }

/*---------------RESPONISVE---------------------- */
/*---------------MODULES------------------------- */
.signature {
  font-size: 12px;
  margin: 0px; }

/*--------------STATES------------------------- */
.is-hidden {
  display: none; }

/*-----------------THEME------------------------- */
/*-------------VARIABLES------------------------- */
button {
  color: white; }

.l-head {
  background-color: red; }

.l-container {
  background-color: #4a915e; }

.l-foot {
  background-color: #12156f; }

.l-modal {
  background-color: rgba(0, 0, 0, 0.7); }

.l-gdk {
  background-color: #2876c2; }

.l-form {
  background-color: white;
  box-shadow: 5px 5px 3px rgba(149, 149, 149, 0.4); }

.success {
  background-color: #398439; }

.danger {
  background-color: #d9534f; }

/*-------------VARIABLES------------------------- */

/*# sourceMappingURL=main.css.map */
